{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Logout</title>
{% endblock title %}

{% block content %}
<div class="container">

{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
</div>

    <div class="container">
        <form method="POST" class="mt-5 col-6">
            {% csrf_token %}

            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary mt-5 ">Register</button>
        </form>
    </div>

    {% endblock content %}