{% extends "base.html" %}

{% block title %}
    <title>Todo List</title>
{% endblock title %}

{% block content %}
<br>
<div class="container">

    {% if messages %}
        {% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
        {% endfor %}
    {% endif %}
<form method="POST" class="row">
    {% csrf_token %}
    <div class="form-row align-items-center">
        <div class="col-lg-6">
            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Task name" name="title">
        </div>
        <div class="col-lg-6">
            <button type="submit" class="btn btn-primary w-100">Add Task</button>
        </div>
    </div>
</form>
</div>
</br>
<br>
<div class="container">
<table class="table table-bordered text-center">
 <thead class="thead-dark">
    <tr class="">
        <th class="col-7">Task</th>
        <th class="col-3">Is done?</th>
        <th class="col-1">Edit</th>
        <th class="col-1">Delete</th>
    </tr>
</thead>

  <tbody>
  {% if todo_content %}
    {% for todo in todo_content %}
          {% if todo.complete %}
              <tr class = "table-success" >
              <td><del>{{ todo.title }}</del></td>
              <td><a href="{% url 'un_complete_task' todo.id %}"><button type="button" class="btn btn-danger">Mark as un-Complete</button></a></td>
                  <td><a href="{% url 'edit_task' todo.id %}"><button type="button" class="btn btn-light">Edit</button></a></td>
                  <td><a href="{% url 'delete_task' todo.id %}"><button type="button" class="btn btn-dark">Delete</button></a></td>
            </tr>
          {% else %}
            <tr>
              <td>{{ todo.title }}</td>
                <td><a href="{% url 'complete_task' todo.id %}"><button type="button" class="btn btn-success">Mark as Complete</button></a></td>
                  <td><a href="{% url 'edit_task' todo.id %}"><button type="button" class="btn btn-light">Edit</button></a></td>
                  <td><a href="{% url 'delete_task' todo.id %}"><button type="button" class="btn btn-dark">Delete</button></a></td>
            </tr>
          {% endif %}
    {% endfor %}
  {% endif %}
  </tbody>
</table>
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
      {% if todo_content.has_previous %}
    <li class="page-item"><a class="page-link" href="?pg={{ todo_content.previous_page_number }}">{{ todo_content.previous_page_number }}</a></li>
      {% endif %}
    <li class="page-item"><a class="page-link" href="?pg= {{ todo_content.number }}">{{ todo_content.number }}</a></li>
      {% if todo_content.has_next %}
    <li class="page-item"><a class="page-link" href="?pg={{ todo_content.next_page_number }} ">{{ todo_content.next_page_number }}</a></li>
      {% endif %}
    <li class="page-item"><a class="page-link" href="?pg={{todo_content.paginator.num_pages}}">>></a></li>
  </ul>
</nav>
</div>
</br>
{% endblock content %}