{% extends "base.html" %}

{% block title %}
    <title>Todo List</title>
{% endblock title %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}'
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
    <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="task name" name = "title">
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Add task</button>
    </div>
  </div>
</form>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Is done?</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% if todo_content %}
    {% for todo in todo_content %}
          {% if todo.complete %}
              <tr class = "table-success" >
              <td>{{ todo.title }}</td>
              <td>complete</td>
                  <td>Edit</td>
                  <td>Delete</td>
            </tr>
          {% else %}
            <tr>
              <td>{{ todo.title }}</td>
              <td>not complete</td>
                  <td>Edit</td>
                  <td>Delete</td>
            </tr>
          {% endif %}
    {% endfor %}
  {% endif %}
  </tbody>
</table>
</div>
{% endblock content %}